.new-albums-section-title {
	text-align: center;
	padding-bottom: 50px;
}
.new-albums-section {
	margin: 0;
	display: grid;
	grid-template-rows: 500px 100px;
	grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
	align-items: center;
	justify-items: center;
}
.new-albums-span {
	font-size: 20px;
	margin: 10px;
}
.new-albums-link {
	font-size: 18px;
	padding: 10px;
	cursor: pointer;
}
.carousel {
	grid-row: 1 / 2;
	grid-column: 1 / 8;
	width: 100vw;
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transform-style: preserve-3d;
	perspective: 600px;
	--items: 5;
	--middle: 3;
	--position: 1;
}
.carousel-item {
	text-align: center;
	position: absolute;
	width: 500px;
	height: 525px;
	border-radius: 1rem;
	background-color: rgb(255, 253, 250);
	--r: calc(var(--position) - var(--offset));
	--abs: max(calc(var(--r) * -1), var(--r));
	transition: all 0.25s linear;
	transform: rotateY(calc(-10deg * var(--r)))
		translateX(calc(-300px * var(--r)));
	z-index: calc((var(--position) - var(--abs)));
}
.carousel-image {
	border-radius: 1rem;
	margin: 5%;
	width: 400px;
	height: 400px;
}
.carousel-item:nth-of-type(1) {
	--offset: 1;
}
.carousel-item:nth-of-type(2) {
	--offset: 2;
}
.carousel-item:nth-of-type(3) {
	--offset: 3;
}
.carousel-item:nth-of-type(4) {
	--offset: 4;
}
.carousel-item:nth-of-type(5) {
	--offset: 5;
}

input[type="radio"]:nth-of-type(1) {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}
input[type="radio"]:nth-of-type(1):checked ~ .carousel {
	--position: 1;
}

input[type="radio"]:nth-of-type(2) {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}
input[type="radio"]:nth-of-type(2):checked ~ .carousel {
	--position: 2;
}

input[type="radio"]:nth-of-type(3) {
	grid-column: 4 /5;
	grid-row: 2 / 3;
}
input[type="radio"]:nth-of-type(3):checked ~ .carousel {
	--position: 3;
}

input[type="radio"]:nth-of-type(4) {
	grid-column: 5 / 6;
	grid-row: 2 / 3;
}
input[type="radio"]:nth-of-type(4):checked ~ .carousel {
	--position: 4;
}

input[type="radio"]:nth-of-type(5) {
	grid-column: 6 / 7;
	grid-row: 2 / 3;
}
input[type="radio"]:nth-of-type(5):checked ~ .carousel {
	--position: 5;
}
@media screen and (max-width: 600px) {
	.carousel-item {
		width: 300px !important;
		height: 325px !important;
	}
	.carousel-image {
		width: 250px !important;
		height: 230px !important;
	}
	.new-albums-span {
		font-size: 15px !important;
	}
	.new-albums-link {
		font-size: 13px !important;
	}
}
