.nav-header
{
    max-width: 100%;
    padding-bottom: 15px;
}
.nav-wrapper
{
    height: 75px;
    margin-bottom: 20px;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}
.nav-menu
{
    padding: 10px;
    display:flex;
    flex-direction: row;
}
.search-bar
{
    margin-top: 10px;
    margin-left: 15px;
}
.nav-light-mode
{
    padding:10px;
}
.nav-logo
{
    margin: auto;
    width: 50%;
    padding: 5px;
    text-align: center;
}
.logo-image
{
    height: 400px;
    width: 400px;
}
#tagline
{
    display:block;
}
@media screen and (max-width: 600px) {
    .main-headline 
    {
    height: auto !important;
    max-width: 100% !important; 
    }
    .headline-text-container h1{
    font-size: 40px !important;
    }
    .logo-image
{
    height: 300px !important;
    width: 300px !important;
}
    #tagline {display: none !important;}}
.logo-image:hover
{
    transform: scale(1.03);
    cursor: pointer;
}
.headline-text-container p 
{
    letter-spacing: 2px;
    text-shadow: .1em .1em black;
    text-align: left;
    font-weight: 300;
    font-size: 10px;
}
.main-headline
{
    display: flex;
    align-items: stretch;
    background-image:url("/assets/news-items/lesrallizesdenudes.jpg");
    height: 50vw;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadeIn 2s;
}
.headline-text-container
{
    overflow-wrap: break-word;
    width: 50vh;
    text-shadow: .5em .3em black;
    align-self: center;
    text-align: justify;
    padding-left: 50px;  
    color: white;
}
.headline-text-container h1
{
    font-weight: bolder;
    font-size: 50px;
    text-align: left;
    letter-spacing: 3px;
}

.headline-text-container p 
{
    letter-spacing: 2px;
    text-shadow: .1em .1em black;
    text-align: left;
    font-weight: 300;
    font-size: 20px;
}

.headline-link
{
    font-size: 16px !important;
}
.headline-link:hover
{
    cursor: pointer;
    text-decoration: underline;
    font-weight: 400;
}